# Module Ignores
modules/*.pyc
modules/__init__.py
modules/__pycache__/
modules/.pytest_cache
modules/.ropeproject/
modules/lib/*.so

# Tests Ignores
tests/.pytest_cache
tests/*.pyc
tests/__pycache__/
tests/.ropeproject/

# Cache
.cache
*.pyc
.pytestc*
.pytest_cache
__pycache*
__pycache__/

# Misc

.*.swp
.ropeproject/
.idea/
.vscode/
.DS_Store

venv/
.venv/
.DS_Store
data/
torbot/modules/nlp/training_data/

# Deployment artifacts
dist