# Modules
modules/.ropeproject/
modules/__pycache__/
modules/.pytest_cache/
modules/*.pyc

# Tests
tests/.ropeproject/
tests/__pycache__/
tests/.pytest_cache/

# Main
__pycache__
.cache
.*.swp
.ropeproject/
.idea/
.pytest_cache
