
<div class="container">
	<div class = "image">
		<img src = "assets/torbot.png" witdth = 690 height ="291" class ="png">
    </div>
<div>

	<!-- Adding loading screen to the root component -->
	<ngx-spinner
	bdColor="rgba(51,51,51,0.8)"
	size="medium"
	color="#fff"
	type="ball-scale-multiple">
	<!--Style of the loading element-->
  <div class="la-line-scale la-3x" > 
    <div></div>
    <div></div>
    <div></div>
    <div></div>
	<div></div>
	<p style="font-size: 20px; color: white; text-align: center;">Please Wait</p>
</div>
	
  </ngx-spinner>
<app-crawl-url></app-crawl-url>
<router-outlet></router-outlet>


                          
