altgraph==0.17
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
decorator==4.4.2
ete3==3.1.1
Flask==1.1.2
idna==2.7
itsdangerous==1.1.0
Jinja2==2.11.3
macholib==1.14
MarkupSafe==1.1.1
PyInstaller==3.6
PyQt5==5.11.3
PyQt5-sip==4.19.19
PySocks==1.6.7
python-dotenv==0.10.2
requests==2.20.0
requests-mock==1.4.0
six==1.15.0
soupsieve==2.0.1
termcolor==1.1.0
threadsafe==1.0.0
urllib3==1.24.3
validators==0.12.6
Werkzeug==1.0.1
yattag==1.10.0
