.home-button {
  font-weight: 900;
  border-radius: 25px;
  border-color: lime;
  width: 70px;
  height: 30px;
  background-color: black;
  color: lime;
}
.home-button:focus {
  outline: none;
}
.good-link {
  color: green;
}
.bad-link {
  color: red;
}
